* {
  box-sizing: border-box;
}

body{
	font-family: 'Oswald', sans-serif;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
}

ul{
	display: inline-block;
    list-style-type: none;
}

#parrafodes1, #h1des{
	padding-top:3vh;
}

#textohistoria{
	text-align: justify;
}

#parrafodes2, #h1des{
	padding-bottom:3vh;
}

.contenidocentrado{
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: auto;
	margin-right: auto;
}

.card{
	margin-top: 7vh;
	margin-bottom: 6vh;
}

.parrafolineup{
	color: #EFEFEF;
	background-color: #000000;
}

.parrafolineup h2{
	text-align: center;
	margin-top: 2.8vh;
	margin-bottom: 1vh;
}

.parrafolineup p{
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 0px;
	margin-top: 0px;
}

p a:hover{
	color: #000000;
	text-decoration: none;
}

.contenedor{
	padding: 1%;
}

.mt1{
	margin-top: 1%;
}

.centro{
	text-align: center;
}

#sponsors{
	margin-bottom: 0px;
	margin-top: 4vh;
}

#sponsors img{
	width: 50%;
}


h2 a, h2 a:hover{
	color: #363636;
}

#contactopadding{
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;

}

#botones{
	padding:1%;
	display:none;
}

.botontrivia.ml-auto{
	margin-right: 0.5%;

}

#disco1, #disco2, #disco3{
	position: absolute;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border-right: 15px solid #EFEFEF;
	border-left: 15px solid #EFEFEF;
    text-align: center;
	color: #EFEFEF;
  	display: none;
 	justify-content: center;
  	align-items: center;	
  	background-color: rgba(54,54,54,0.8);
}

.justify-content-sm-center .col-sm-3{
	margin-top: 1.7vh;
	margin-bottom: 1.7vh;
}

#disco1 h3, #disco2 h3, #disco3 h3{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#banda1, #banda2, #banda3, #banda4, #banda5, #banda6, #banda7, #banda8, #banda9 {
	filter: grayscale(100%);
}

.spotify{
	color: rgb(30,215,96);
}

footer a{
	color: #EFEFEF;
}

footer a:hover{
	color: #afafaf;
	text-decoration: none
}

.botontrivia.mr-auto{
	margin-left: 0.5%;
}

.faqsp{
	margin-right: auto;
	margin-left: auto;
	padding: 1%;
	margin-top: 3vh;
	border-radius: 50px;
	cursor: pointer;
}

.faqsr{
	margin-right: auto;
	margin-left: auto;
	padding: 1%;
	display: none;
	border-radius: 0px 0px 50px 50px;
}

.cartas{
	padding: 1%;
}

.btn:hover{
	border: 2px solid #5F7698;
	background-color: #EFEFEF;
	color: #5F7698;
}

.whitebg{
	background-color: #EFEFEF;
}

.whitetxt{
	color: #EFEFEF;
}

.blacktxt{
	color: #363636;
}

.blackbg{
	background-color: #363636;
}

.superblackbg{
	background-color: #000000;
}

.superblacktxt{
	color: #000000;
}

.bluebg{
	background-color: #5F7698;
}

.botontrivia {
  background-color: #5F7698;
  color: #EFEFEF;
  padding: 2.5%;
  text-align: center;
  word-wrap: break-word; 
}

.botontrivia:hover {
  background-color: #363636;
}

#fondonegro{
	position: fixed;
	top: 0%; left: 0%;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.7);
	display: none;
	z-index: 2;
}

#poster{
	cursor: pointer;
}

#fintrivia, #inicioindex {
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 4vh;
	display: none;
	z-index: 3;
	text-align: center;
}

input[type=email], input[type=text], textarea{
	width: 100%;
	padding: 1%;
	border: 1px solid #363636;
	margin-top: 1vh;
	margin-bottom: 4vh;
}

#otro, .mb4{
	margin-bottom: 4vh;
}

.checkbandas{
	padding: 0.5%;
	display: inline-block;
}

#mensaje{
	height: 30vh;
}

#enviar{
	padding: 1% 5%;
	border-radius: 30px;
	font-size: 1.3rem;
}